.row .purbill-nav{
	width:1200px;
	padding:0;
	margin-left: 15px;
}
.row .purbill-form{
	width:1200px;
	padding:0;
	margin-left: 15px;
}
.row .purbill-form .form-group{
	margin:0 15px 15px 0;
}
.row .purbill-form .piao-group{
	margin-left: 148px;
}
.row .purbill-form .form-control{
	width:180px;
}
.row .purbill-form .many-code{
	width:477px;
}
.row .purbill-form  .purbill-mark{
	width:476px;
	height:60px;
	resize:none;
}
.row .purbill-form .many-code1{
	width:735px;
}
.row .purbill-form  .purbill-mark1{
	width:1040px;
	height:60px;
	resize:none;
}

/*交易记录*/
.row .purbillrecord-table{
	width:1200px;
	padding:0;
	margin-left: 15px;
}
.row .purbillrecord-table thead td:nth-of-type(1){
	width:46px;
}
.row .purbillrecord-table thead td:nth-of-type(2){
	width:44px;
}
.row .purbillrecord-table thead td:nth-of-type(3){
	width:150px;
}
.row .purbillrecord-table thead td:nth-of-type(4){
	width:110px;
}
.row .purbillrecord-table thead td:nth-of-type(5){
	width:110px;
}
.row .purbillrecord-table thead td:nth-of-type(6){
	width:110px;
}
.row .purbillrecord-table thead td:nth-of-type(7){
	width:110px;
}
.row .purbillrecord-table thead td:nth-of-type(8){
	width:110px;
}
.row .purbillrecord-table thead td:nth-of-type(9){
	width:50px;
}
.row .purbillrecord-table thead td:nth-of-type(10){
	width:260px;
}
.row .purbillrecord-table thead td:nth-of-type(11){
	width:100px;
}
.row .purbillrecord-table .purbill-detail{
	cursor:pointer;
}
/*开票记录*/
.dropdown .caret{
	/*float:right;*/
	margin-left: 15px;
	cursor: pointer;
}
.modal-record .modalcon{
	width:1000px;
	margin-left: -500px;
}
.modal-record .modalcon .record-table{
	width:900px;
	margin-left: 50px;
	margin-top: 15px;
}
.modal-record .modalcon .record-table thead td:nth-of-type(1){
	width:300px;
	text-align: left;
}
.modal-record .modalcon .record-table tbody td:nth-of-type(1){
	text-align: left;
}
.modal-record .modalcon .record-table thead td:nth-of-type(2){
	text-align: left;
	width:50px;
}
.modal-record .modalcon .record-table tbody td:nth-of-type(2){
	text-align: left;
}
.modal-record .modalcon .record-table thead td:nth-of-type(3){
	width:100px;
}
.modal-record .modalcon .record-table thead td:nth-of-type(4){
	width:100px;
}

.modal-record .modalcon .record-table thead td:nth-of-type(5){
	width:100px;
}
.modal-record .modalcon .record-table thead td:nth-of-type(6){
	width:50px;
}
.modal-record .modalcon .record-table thead td:nth-of-type(7){
	width:100px;
}
.modal-record .modalcon .record-table thead td:nth-of-type(8){
	width:100px;
}

/*税点记录*/
.row .purbillrecord-table1{
	width:1200px;
	padding:0;
	margin-left: 15px;
}
.row .purbillrecord-table1 thead td:nth-of-type(1){
	width:46px;
}
.row .purbillrecord-table1 thead td:nth-of-type(2){
	width:44px;
}
.row .purbillrecord-table1 thead td:nth-of-type(3){
	width:150px;
}
.row .purbillrecord-table1 thead td:nth-of-type(4){
	width:110px;
}
.row .purbillrecord-table1 thead td:nth-of-type(5){
	width:110px;
}
.row .purbillrecord-table1 thead td:nth-of-type(6){
	width:110px;
}
.row .purbillrecord-table1 thead td:nth-of-type(7){
	width:110px;
}
.row .purbillrecord-table1 thead td:nth-of-type(8){
	width:110px;
}
.row .purbillrecord-table1 thead td:nth-of-type(9){
	width:50px;
}
.row .purbillrecord-table1 thead td:nth-of-type(10){
	width:110px;
}
.row .purbillrecord-table1 thead td:nth-of-type(11){
	width:150px;
}
.row .purbillrecord-table1 thead td:nth-of-type(12){
	width:100px;
}
.row .purbillrecord-table1 .purbill-detail{
	cursor:pointer;
}














