.padd {
    width: 1100px;
    height: 670px;
    padding-top: 20px;
    padding-left: 30px;
}

.table {
    width: 970px;
    font-size: 15px;
}

td {
    width: 220px;
}

.eds {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    margin-top: 70px;
}

.mc {
    margin-left: 3px;
    color: #00cc33;
}
table tr td > font{
    color: #ccc;
    margin-left: 4px;
    margin-right: 4px;
}

.btn {
    padding: 3px 11px;
    font-size: 13px;
    float: right;
}

.modal-dialog {
    width: 340px;
}

.tit {
    font-size: 13px;
    display: block;
    margin-top: 17px;
    margin-left: 27px;
}

.sond {
    width: 320px;
    height: 130px;
    font-size: 14px;
}

.sonh {
    width: 310px;
    height: 54px;
    padding-top: 17px;
    padding-left: 40px;
}

.sonhl {
    width: 310px;
    height: 54px;
    padding-top: 17px;
    padding-left: 40px;
}

.soni {
    width: 70px;
    height: 41px;
    margin-top: 4px;
    float: left;
}

.sonii {
    width: 70px;
    height: 41px;
    margin-left: 0px;
    float: left;
}

.sell {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    float: left;
}

.selw {
    width: 170px;
}

.sdd {
    margin-right: 7px;
}


.freequency {
    width: 90px;
    height: 31px;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 17px;
    float: left;
}

.stim {
    width: 40px;
    height: 30px;
    color: #00cc33;
    margin-top: 5px;
    margin-left: 17px;
    float: left;
}

.sellw {
    width: 110px;
}

.fr {
    float: right;
}

.sonhf {
    width: 320px;
    height: 54px;
    margin-top: 20px;
    padding-top: 17px;
    padding-left: 20px;
    float: left;
}

.subt {
    width: 140px;
    height: 30px;
    margin-left: 7px;
}

.subdd {
    margin-left: 17px;
}

.sbtn {
    padding: 6px 17px;
    font-size: 13px;
    float: right;
    border-radius: 4px;
}

.sellwww {
    width: 370px;
    margin-left: 20px;
}

.addr {
    width: 220px;
    height: 31px;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 17px;
    padding-left: 27px;
    float: left;
}

.sonhw {
    width: 320px;
    height: 54px;
    padding-top: 17px;
    padding-left: 20px;
    float: left;
}

.nmsg {
    width: 120px;
    height: 30px;
    margin-left: 7px;
    color: red;
    float: left;
}

.emsg {
    width: 120px;
    height: 30px;
    margin-left: 7px;
    color: red;
    float: left;
}

.amsg {
    width: 120px;
    height: 30px;
    margin-left: 7px;
    color: red;
    float: left;
}

.msg {
    width: 120px;
    height: 30px;
    margin-top: 7px;
    margin-left: 7px;
    color: red;

}
