.formtop{font-size: 30px;color:#333;width：450px;height:40px;margin:0 0 50px 71px;}
.formtop p{float:left;}
.formtop span{float:left;margin:0 10px;}
#rccontent label{float:left;display: inline-block;}
#rccontent input{float:left;display: inline-block;}
.registerbtn2{width:220px;height:54px;line-height: 54px;text-align: center;background: #358ecb;color:#fff;font-size:17px;margin:0px 0 146px 10px;cursor:pointer;padding:15px 79px 15px 79px;}
.btnwait{margin-left: 32px;}
.content2 p{font-size: 18px;margin-bottom: 30px;}
.rega{color:#f40;}
.btnafter{height: 146px;}
.msg{width:370px;height:20px;margin-left:77px;margin-top:17px;color:red;}


