input{background: #ddd;}
.form-groupo input{width:209px;float: left;}
.form-groupo input:nth-of-type(1){margin-right: 10px;}
.section{margin-top:10px;}
.toprole{text-align: center;font-size:28px;margin-top: 50px;}
