.row .weight-nav{
	width:1200px;
	margin-left:15px;
	padding:0;
}
.row .weight-left{
	width:780px;
	float:left;
	margin-left:15px;
	padding:0;
}
.row .weight-right{
	width:360px;
	float:left;
	margin-top:20px;
}
.row .weight-bt{
	margin:10px 0 10px 0;
}
.row .weight-form1{
	width:100%;
}
.row .weight-form1 .form-group{
	margin-bottom:15px;
	height:30px;
	line-height:30px;
}
.row .weight-form1 .weight-input{
	width:678px;
	cursor:default;
}
.row .weight-table{
	width:738px;
	margin-top:10px;
}
.row .weight-table thead td{
	text-align: center;
	font-weight:600;
}
.row .weight-table tbody td{
	text-align: center;
}
.row .weight-table thead td:nth-of-type(1){
	width:46px;
}
.row .weight-table thead td:nth-of-type(2){
	width:46px;
}
.row .weight-table thead td:nth-of-type(3){
	width:46px;
}
.row .weight-table thead td:nth-of-type(4){
	width:221px;
}
.row .weight-table thead td:nth-of-type(5){
	width:221px;
}
.row .weight-table thead td:nth-of-type(6){
	width:80px;
}
.row .weight-table .totalcount{
	background:#fffae9;
}
.row .weight-right .weighthandle{
	text-align: center;
	margin:10px 0 10px 0;
	font-size:18px;
	height:30px;
	font-weight:600;
}
.row .weight-right .weighthandle .weight-many{
	color:red;
	margin:0 2px 0 2px;
}
.row .weight-form2{
	padding-left:10px;
	padding-top:10px;
	height:auto;
	background:rgba(150,150,150,0.5);
	box-shadow:0px 0px 20px #666;
	border-radius: 5px;
	border:1px solid #ccc;
}
.row .weight-form2 .form-group{
	margin-bottom:15px;
}
.row .weight-form2 .form-control{
	width:200px;
}
.row .barcode-form2 .form-group .open-barcode{
	margin-left:65px;
}
.row .weight-form2 .dropdown-menu{
	width:250px;
}
.row .weight-form2 .dropdown-menu>li>a{
	padding:3px 10px;
}
.modal-weight1 .modalcon{
	width:300px;
	margin-left:-150px;
}






