/* -----------------内容----------------- */
section{width:100%;background: #eaeef2;padding-top: 20px;}
.content{width:1048px;margin:0 auto 40px;overflow: hidden;border:1px solid #ccc;background: #fff;}
.maintop{background: #ddd;border-bottom: 1px solid #ccc;width:100%;height:58px;}
.maintop li{float:left;font-size: 24px;line-height: 58px;width:154px;text-align: center;}
.maintop .laboract{background: #fff;color:#358ecb;border-top:3px solid #358ecb;height: 56px;line-height:55px;border-right: 1px solid #ccc;}
.maintop .laboract a{color:#358ecb;}
.maintop a{color:#333;}
.mainlabor{width:1008px;padding:14px 20px 30px;}
.carinfright{float:right;width:201px;height:40px;margin: 20px 20px 10px 0;}
.carsearch{float:left;width:150px;height:38px;border:1px solid #ccc;border-right: none;font-size: 16px;padding-left: 10px;}
.searchbtn{float:left;width:24px;height:24px;background: #358dcd;padding:8px; cursor:pointer;}
/* -----------------车辆表格----------------- */
.elecartab{width:100%;overflow: hidden;border-collapse:collapse ;}
.elecartab thead{width:100%;height:60px;background: #70b0dc;color:#fff;font-size: 18px;line-height: 60px;}
.elecartab td{text-align: center;}
.laborthead img{margin-right:4px;margin-bottom:-4px;width:22px;height:21px;}
.elecartab tbody tr{height:58px;border-bottom: 2px dotted #ccc;font-size: 14px;}
.searchbutton{width:24px;height:24px;cursor: pointer;background: url("/image/main/msearch.png") no-repeat;border:none;}
/* -------------------模态窗------------------ */
.modal{display:none;} 
.cover{width:100%;height:100%;background: #000;opacity: 0.6;filter: alpha(opacity=60);z-index: 99;position: fixed; _position:absolute;left:0;top:0;}
.modalbox{width:280px;height:180px;margin:auto;left:0;top:222px;right:0;background: #fff;opacity: 1;filter: alpha(opacity=100);z-index:1000;position: fixed; _position:absolute;}
.modalbox p{width:100%;height:30px;font-size: 18px;text-align: center;margin: 50px 0 24px;}
.btns{width:210px;padding:0 34px;height:40px;margin-top:24px;}
.modalbox button,.modalboxp button{float:left;width:100px;height:40px;cursor:pointer;border:none;font-size: 14px;}
.modalbox button:nth-of-type(1),.modalboxp button:nth-of-type(1){background: #fe4500;margin: 0 17px 0 36px;color:#fff;}
.modalbox button:nth-of-type(2),.modalboxp button:nth-of-type(2){background: #ccc;}
/* --------------手动添加模态框----------------- */
.empcheck{margin:0 10px;}
/* --------------------------------- */
.opetd a{margin:0 5px;}
.empthead td:nth-of-type(1){width:90px;}
.empthead td:nth-of-type(2){width:100px;}
.empthead td:nth-of-type(3){width:100px;}
.empthead td:nth-of-type(4){width:130px;}
.empthead td:nth-of-type(5){width:130px;}
.empthead td:nth-of-type(6){width:130px;}
.empthead td:nth-of-type(7){width:90px;}
/* -------------------分配劳务方模态窗---------------- */
.modald,.modalc,.modalp{display:none;}
.modalboxd,.modalboxc,.modalboxp{width:798px;height:550px;padding:50px;padding-bottom:0;margin:auto;left:0;top:80px;right:0;background: #fff;opacity: 1;filter: alpha(opacity=100);z-index:1000;position: fixed; _position:absolute;}
.close{cursor:pointer;width:40px;height:40px;position: absolute;right:20px;top:20px;}
.distribtn,.distribtnc{display: block;width:100px;height:38px;border:1px solid #ccc;font-size: 16px;line-height: 40px;text-align: center;color:#333;float:left;margin:20px 0 20px 0;}
.disttab,.disttabc{width:100%;border-collapse:collapse ;}
.disttab thead,.disttabc thead{width:100%;height:60px;background: #70b0dc;color:#fff;font-size: 18px;line-height: 60px;}
.disttab td,.disttabc td{text-align: center;height:58px;}
.disttab td:nth-of-type(1),.disttabc td:nth-of-type(1){width:60px;}
.disttab td:nth-of-type(2),.disttabc td:nth-of-type(2){width:60px;}
.disttab td:nth-of-type(3),.disttabc td:nth-of-type(3){width:100px;}
.disttab td:nth-of-type(4),.disttabc td:nth-of-type(4){width:100px;}
.disttab td:nth-of-type(5),.disttabc td:nth-of-type(5){width:100px;}
.outtable,.outtablec{clear:both;margin-top:20px;height:370px;overflow: auto;}
.disttab tbody tr,.disttabc tbody tr{height:58px;border-bottom: 2px dotted #ccc;font-size: 14px;}
.finish,.finishc{width:100px;height:40px;cursor:pointer;line-height: 40px;text-align: center;color:#fff;background: #f40;font-size: 18px;border:none;margin-top:30px;}
.finishdiv,.finishdivc{text-align: center;margin-bottom: 50px;}
.finish a,.finishc a{color:#fff;}
/* -------------------- */
.opetd a{margin:0 5px;}
.modalboxp{width:400px;height:300px;}
.ptitle{width:100%;height:40px;font-size: 22px;text-align: center;}
.modalboxp h1{font-size: 16px;height: 30px;line-height: 30px;margin:10px 0;}
.pchoice{width:100%;height:20px;}
.pchoice input{margin:0 10px 0 34px;float:left;}
.pchoice span{float: left;margin-top: -2px;font-size: 14px;}
.btnsp{margin-top: 30px;}
.modalboxp button:nth-of-type(1){margin-left: 96px;}