html body{background: #fff;}
.ptop{width:100%;text-align: center;}
.pprogress{height:28px;margin:66px 0 40px;display: inline-block;_display:inline;}
.pprogress div{float:left;}
.pprogress .circle{width:20px;height:20px;border:4px solid #358dcc;border-radius:50%;}
.pprogress .hbar{border-bottom: 4px solid #358dcc;width:300px;text-align: center;height:34px;line-height: 34px;font-size:14px;margin-top: -22px;}
.pprogress .hbar:nth-of-type(4){color:#358dcc;}.form{width:400px;margin:0 auto 200px;}
.form input{width:378px;height:38px;border:1px solid #ccc;padding:0 10px;margin:10px 0;}
/*-------------模态框-------------*/
.modalbox{border-radius:6px;overflow: hidden;min-height: 320px;}
.modaltop{width:100%;height: 50px;line-height: 50px;font-size:18px;background: #358ecb;color:#fff;}
.modaltop span:nth-of-type(1){margin-left: 20px;}
.modalcontent{padding:50px 36px 30px;}
.modalcontent i{display: block;width:72px;height: 72px;position: absolute;left:50%;margin-left: -36px;background: url(/image/main2/integrate.png) no-repeat 0 -36px;}
.modalcontent p{width:100%;text-align: center;margin:90px 0 20px;}
.modalcontent .btns{width:300px;margin-left: -150px;}
.modalcontent .btns button{float:left;width:145px;background: #358dcc;color:#fff;}