html body{background: #fff;}
.ptop{width:100%;text-align: center;}
.pprogress{height:28px;margin:66px 0 40px;display: inline-block;_display:inline;}
.pprogress div{float:left;}
.pprogress .circle{width:20px;height:20px;border:4px solid #ccc;border-radius:50%;}
.pprogress .hbar{border-bottom: 4px solid #ccc;width:300px;text-align: center;height:34px;line-height: 34px;font-size:14px;margin-top: -22px;}
.pprogress .circle:nth-of-type(1),.pprogress .circle:nth-of-type(3){border:4px solid #358dcc;}
.pprogress .hbar:nth-of-type(2){border-bottom: 4px solid #358dcc;color:#358dcc;}
.form{width:400px;margin:0 auto 200px;}
.form input{width:378px;height:38px;border:1px solid #ccc;padding:0 10px;margin:10px 0;}
.verifycode{width:400px;height:60px;}
.verifycode input{width:120px;float: left;}
.verifycode img{width:140px;height:40px;margin: 10px;float: left;}
.verifycode span{width:96px;height:18px;float: left;padding-top: 32px;}
.verifycode span a{border-bottom: 1px solid #358dcc;}
.agreenbtn{margin-top: 30px;}
/*-------------模态框-------------*/
.modalbox{border-radius:6px;overflow: hidden;min-height: 332px;}
.modaltop{width:100%;height: 50px;line-height: 50px;font-size:18px;background: #358ecb;color:#fff;}
.modaltop span:nth-of-type(1){margin-left: 20px;}
.modalcontent{padding:50px 36px 30px;}
.describep{font-size: 14px;}
.modalcontent .input-group{top:20px;}
.modalcontent .input-group .checkcode{border:1px solid #358dcc;}
.checkcodebtn{margin:10px 14px 22px;width:300px;}
.resultp{margin-left: 38px;}
.resultp i{color:#358dcc;}
.error-verifycode{width:100%;height: 16px;margin: 60px 0 0 24px;}